<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To AgroWeb!</h1>
            <p>View our hand-picked products from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/products/new">Add New Product</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        {{#each products}}
            <div class="col-md-3 col-sm-6 mb-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <a href="/products/{{id}}" class="card-link">Details</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
